thead, tbody {
	vertical-align: top;
}

th, td {
	font-weight: normal;
	font-size: 11px;
}

h1 {
	font-size: 14px;
}

#parent-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 450px;
}

table {
	width: 300px;
}

th {
	text-align: left;
}

tr td:first-child {
	display: block;
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

tr {
	border: 1px solid #000;
  border-collapse: collapse;
}

.config-option-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 10px;
}

.config-option-label {
	border-top: 1px solid;
	width: 100%;
	margin-bottom: 5px;
	padding-top: 5px;
	text-align: right;
	font-size: 11px;
}

.input-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#maxtabs-input,
#countdown-input {
	font-size: 20px;
	width: 50px;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 30px;
	border: 1px solid #e4e4e4;
  position: relative;
}

.switch-label:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 30px;
	border: 1px solid lightgray;
  transition: 0.3s;
}

input:checked + .switch-label {
  background: #bada55;
}

input:checked + .switch-label:after {
  left: calc(100%);
  transform: translateX(-100%);
}

.switch-label:active:after {
  width: 28px;
}

#message {
	height: 25px;
	font-size: 11px;
	color: red;
	text-align: right;
}
