html {
	float: left;
}

body {
	background-color: #1f2427;
	color: #fff;
	width: 350px;
	margin: 10px;
	padding: 0;
	border-radius: 5px;
}

h1 {
	font-size: 14px;
	line-height: 14px;
	text-align: right;
	margin: 0 0 11px;
}

#parent-container {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #1cd155;
}

#config-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-bottom: 1px solid #1cd155;
}

.config-option-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
	padding: 10px 0;
}

.config-option-container:first-child {
	padding-right: 10px;
	border-right: 1px solid #1cd155;
}

.config-option-container:last-child {
	margin-left: 10px;
}

.config-option-label {
	margin-bottom: 5px;
	font-size: 12px;
}

.input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

#maxtabs-input,
#countdown-input {
	font-family: monospace;
	font-size: 28px;
	text-align: right;
	color: #fff;
	background: #1f2427;
	width: 55px;
	border: none;
}

input[type="checkbox"] {
	height: 0;
	width: 0;
	margin: 0;
}

input:focus-visible {
	outline: none;
}

.switch-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 54px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 30px;
	position: relative;
}

.switch-label:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 28px;
	height: 28px;
	background: #fff;
	border-radius: 30px;
	border: 1px solid lightgray;
	transition: 0.3s;
}

input:checked + .switch-label {
	background: #1cd155;
}

input:checked + .switch-label:after {
	left: calc(100%);
	transform: translateX(-100%);
}

.switch-label:active:after {
	width: 28px;
}

#bottom-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	border-bottom: 1px solid #1cd155;
}

#message {
	font-size: 11px;
	font-style: italic;
	color: #fff;
	text-align: right;
}

#buttons-container {
	display: flex;
	height: 100%;
}

#buttons-container button {
	width: 30px;
	cursor: pointer;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}

#buttons-container button.active {
	background: #1cd155;
}

button.active svg {
	fill: #1f2427;
}

#tabs-tracker,
#settings {
	display: none;
	margin-top: 10px;
}

#tabs-tracker.active {
	display: block;
}

#tabs-tracker span {
	font-size: 12px;
}

#tabs-tracker button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 12px;
	color: #fff;
	padding: 5px;
	border: 1px solid #fff;
	border-radius: 5px;
	cursor: pointer;
	background: none;
}

#tabs-tracker button:hover {
	color: #1f2427;
	background: #1cd155;
	border-color: #1cd155;
}

.tabs-tracker-header,
.tabs-tracker-grid {
	display: grid;
	grid-template-columns: 3fr 1.2fr 1.2fr;
	grid-gap: 5px 5px;
	border: 1px solid #1cd155;
	border-radius: 5px;
	padding: 5px;
}

.tabs-tracker-header {
	border: none;
	margin-bottom: 5px;
	padding-top: 0;
}

.tabs-tracker-header span {
	font-size: 13px;
	font-weight: bold;
	text-align: right;
}

.tabs-tracker-header span:first-child {
	text-align: left;
}

.tabs-tracker-grid {
	margin-bottom: 10px;
}

.tabs-tracker-grid:last-child {
	margin-bottom: 35px;
}

.tabs-tracker-grid span {
	text-align: right;
}

.tabs-tracker-grid span.tab-title {
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	background-repeat: no-repeat;
	padding-left: 17px;
}

.tabs-tracker-grid span.tab-title.active,
.tabs-tracker-grid span.tab-title:hover {
	color: #1cd155;
}

#settings.active {
	display: flex;
	flex-direction: column;
}

.settings-option {
	display: flex;
	flex: 1;
	align-items: center;
	margin-bottom: 10px;
}

.settings-option:last-child {
	margin-bottom: 0;
}

.settings-option-text {
	width: 100%;
}

.settings-option-text p {
	font-size: 11px;
	font-style: italic;
	margin: 0;
	padding: 0;
}
